---
layout: default
title: iocast ~ some notes ...
---

<h1>Random Things I Typed Out</h1>

<div class="meta_wrapper">
    <ul class="tag_list_in_post">
        {% for tag in site.tags %}
        <li class="inline tag_list_item"><a class="tag_list_link" href="/tag/{{ tag[0] }}">{{ tag[0] }}</a></li>
        {% endfor %}
    </ul>
</div>


{% for post in site.posts %}
<small>{{ post.date | date_to_string }}</small>
<h2><a href="{{ post.url }}">{{ post.title }}</a></h2>
<p>{{ post.excerpt }}</p>
{% endfor %}
