<% if(theme.img.upyun_logo == undefined){ %>
<% } else { %>
    <div id="upyun-logo">
        <a href="https://www.upyun.com/" target="_blank">
            <img src="<%= theme.img.upyun_logo %>" alt="upyun_league">
        </a>
    </div>
<% } %>