<!DOCTYPE html>

<html>
    <%- partial('_partial/head') %>
    <body>
        <!-- Main Container -->
        <main>
            <%- body %>
            <%- partial('_partial/footer') %>
        </main>
        <%- partial('_partial/source/footer') %>
    </body>
</html>