<!DOCTYPE html>
<html>
    <%- partial('_partial/head') %>

    <body>
        <div class="demo-blog mdl-layout mdl-js-layout has-drawer is-upgraded">
            <!-- Main Container -->
            <main class="mdl-layout__content" id="main">
                <!-- Top Anchor -->
                <div id="top"></div>
                <!-- Hamburger Button -->
                <button class="MD-burger-icon sidebar-toggle">
                    <span class="MD-burger-layer"></span>
                </button>
                <%- body %>
                <%- partial('_partial/sidebar') %>
                <%- partial('_partial/footer') %>
            </main>
        </div>
    </body>
</html>
