<%- partial("_partial/back_button") %>

<!-- Article Module -->
<div class="demo-blog--blogpost">
    <div class="demo-blog__posts mdl-grid">
        <div class="mdl-card mdl-shadow--4dp mdl-cell mdl-cell--12-col">

            <!-- Article Title -->
            <div class="mdl-card__media mdl-color-text--grey-50">
                <p class="article-headline-p">
                    <%- page.title%>
                </p>
            </div>


            <!-- Article Info -->
            <div class="mdl-color-text--grey-700 mdl-card__supporting-text meta">
                <!-- Author Avatar -->
                <div id="author-avatar"></div>
                <div>
                    <!-- Author Name -->
                    <span class="author-name-span"></span>
                    <!-- Articel Date -->
                    <span></span>
                </div>
                <div class="section-spacer"></div>
                <div class="meta__favorites">
                    425 <i class="material-icons" role="presentation">favorite</i>
                    <span class="visuallyhidden">favorites</span>
                </div>
                <div>
                    <i class="material-icons" role="presentation">bookmark</i>
                    <span class="visuallyhidden">bookmark</span>
                </div>
                <div>
                    <i class="material-icons" role="presentation">share</i>
                    <span class="visuallyhidden">share</span>
                </div>
            </div>

            <!-- Article Content -->
            <div id="article-content-div" class="mdl-color-text--grey-700 mdl-card__supporting-text post-article-content">
                <%- page.content %>
            </div>

            <!-- Article Comments -->
            <%- partial("_partial/comment") %>
        </div>
    </div>
</div>
