@charset "UTF-8";

/* for color-themes-for-google-code-prettify */
pre {
    white-space:pre;
    white-space:pre-wrap;
    word-break:break-all;
    word-wrap:break-word;
}

#post-content pre {
    background-color: #000!important;
    border-radius: 0px;
}

#post-content ol, #post-content ul {
    padding-left: 42px;
    font-size: 1rem;
}