<meta charset="utf-8" />
<meta http-equiv="Content-type" content="text/html; charset=utf-8" />
<title>{{ SITENAME }} - {{ SITESUBTITLE }}</title>
<meta name="description" content="" />
<meta name="Author" content="Ken M. Lai(networktsukkomime.me)" />

<!--[if lt IE 9]>
  <script type="text/javascript" src="http://stepofweb.gweb.io/.templates/IsisOne/HTML/assets/plugins/lt-ie9/html5.js"></script>
  <script type="text/javascript" src="http://stepofweb.gweb.io/.templates/IsisOne/HTML/assets/plugins/lt-ie9/respond.min.js"></script>
  <script type="text/javascript" src="http://stepofweb.gweb.io/.templates/IsisOne/HTML/assets/plugins/lt-ie9/excanvas.compiled.js"></script>
<![endif]--> 

<!-- GOOGLE FONTS -->
<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700,800|Dosis:300,400" rel="stylesheet" type="text/css" />


<!-- CORE CSS FRAMEWORK -->
<link href="//netdna.bootstrapcdn.com/bootstrap/3.1.0/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
<link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">

<!-- CSS TEMPLATE -->
<link href="{{SITEURL}}/theme/css/reset.css" rel="stylesheet" type="text/css" />
<link href="{{SITEURL}}/theme/css/framework.css" rel="stylesheet" type="text/css" />
<link href="{{SITEURL}}/theme/css/typography.css" rel="stylesheet" type="text/css" />
<link href="{{SITEURL}}/theme/css/layout.css" rel="stylesheet" type="text/css" />

<link href="{{SITEURL}}/theme/css/blog.css" rel="stylesheet" type="text/css" />

<!-- ICONS -->
{% if FAVICON %}
  <link rel="shortcut icon" href="{{FAVICON}}" type="image/x-icon" />
{% endif %}
{% if ICON %}
  <link rel="icon" href="{{ICON}}" type="image/x-icon" />
{% endif %}
{% if SHORTCUT_ICON %}
  <link rel="shortcut icon" href="{{SHORTCUT_ICON}}" type="image/x-icon" />
{% endif %}

<!-- mobile settings -->
<meta name="viewport" content="width=device-width, maximum-scale=1, initial-scale=1, user-scalable=0" />

<!-- Morenizr -->
<script type="text/javascript" src="{{SITEURL}}/theme/js/modernizr.min.js"></script>

<!-- google authorship -->
{% for title, link in SOCIAL%}
  {% if 'plus.google.com' in link %}
    <a href="{{link}}?rel=author"></a>
  {% endif %}
{% endfor%}
