<% if(theme.comment.use === 'duoshuo') { %>
    <!-- 使用多说评论 -->
    <%- partial('_widget/duoshuo') %>
<% } %>

<% if(theme.comment.use === 'changyan') { %>
    <!-- 使用 changyan -->
    <div id="changyan-comment">
        <%- partial('_widget/changyan') %>
    </div>
    <style>
        #changyan-comment{
            background-color: #eee;
            padding: 2pc;
        }
    </style>
<% } %>

<% if(theme.comment.use === 'disqus') { %>
    <!-- 使用 DISQUS -->
    <div id="disqus-comment">
        <%- partial('_widget/disqus') %>
    </div>
    <style>
        #disqus-comment{
            background-color: #eee;
            padding: 2pc;
        }
    </style>
<% } %>

<% if(theme.comment.use === 'disqus_click') { %>
    <!-- 使用 DISQUS_CLICK -->
    <div id="disqus-comment">
        <%- partial('_widget/disqus_click') %>
    </div>
    <style>
        #disqus-comment{
            background-color: #eee;
            padding: 2pc;
        }
    </style>
<% } %>
