<div class="mdl-card daily-pic mdl-cell mdl-cell--8-col index-top-block">
    <div class="mdl-card__media mdl-color-text--grey-50" style="background-image:url(<%- ("img/dailypic.jpg") %>)">
        <p class="index-top-block-slogan"><a href="#">在结束的地方等待开始</a></p>
    </div>

    <div class="mdl-card__supporting-text meta mdl-color-text--grey-600">
        <!-- Author Avatar -->
        <div id="author-avatar">
            <img src="<%= theme.img.avatar %>" width="32px" height="32px" alt="avatar">
        </div>
        <div>
            <span class="author-name-span"><a href="">viosey</a></span>
            <span class="index-top-block-date">Thu Sep 01 2016 12:57:21 GMT+0800 (CST)</span>
        </div>
    </div>
</div>
