<!-- Floating Action Button -->
<div class="fabs">
    <a href="#top" class="fab toTop">
        <i class="material-icons">expand_less</i>
    </a>
    
    <a href="#bottom" class="fab toBottom">
        <i class="material-icons">keyboard_arrow_down</i>
    </a>
    
    <a id="prime" class="fab">
        <i class="material-icons prime-i-add">add</i>
    </a>
</div>