<div id="post-content" class="markdown-<%= theme.reading.markdown %> mdl-color-text--grey-700 mdl-card__supporting-text fade out">
	<% if(theme.scheme == "Paradox"){ %>
		<%- page.content %>
	<% } %>
	
	<% if(theme.scheme == "Isolation"){ %>
		<div class="post-content_wrapper">
			<p class="post-title">
				<%- page.title %>
			</p>
			<%- page.content %>
		</div>
	<% } %>
	
</div>