<% if(theme.img.upyun_logo == undefined){ %>
<% } else { %>
    <div id="upyun-logo">
        <a href="https://www.upyun.com/" target="_blank">
            <img src="<%= theme.img.upyun_logo %>" alt="upyun_league">
        </a>
    </div>
<% } %>

<!-- Counting -->
<div class="sidebar-text mdl-button mdl-js-button mdl-js-ripple-effect sidebar-footer-text-div" data-upgraded=",MaterialButton,MaterialRipple">
	<a>本站已稳定运行<a class="sidebar-badge" id="span_dt_dt">0</a></a>
	<SCRIPT language=javascript> 
		<!-- 
		//document.write(""); 
		function show_date_time(){ 
			window.setTimeout("show_date_time()", 1000); 
			BirthDay=new Date("12-29-2016 23:00:00");
			today=new Date(); 
			timeold=(today.getTime()-BirthDay.getTime()); 
			sectimeold=timeold/1000 
			secondsold=Math.floor(sectimeold); 
			msPerDay=24*60*60*1000 
			e_daysold=timeold/msPerDay 
			daysold=Math.floor(e_daysold); 
			e_hrsold=(daysold-e_daysold)*-24; 
			hrsold=Math.floor(e_hrsold); 
			e_minsold=(hrsold-e_hrsold)*-60; 
			minsold=Math.floor((hrsold-e_hrsold)*-60); 
			seconds=Math.floor((minsold-e_minsold)*-60); 
				span_dt_dt.innerHTML=daysold+"天"+hrsold+"小时"+minsold+"分"+seconds+"秒" ; 
		} 
		show_date_time(); 
		//--> 
	</SCRIPT>
</div>
