<% if(theme.img.upyun_logo == undefined){ %>
<% } else { %>
    <div id="upyun-logo">
        <a href="https://www.upyun.com/" target="_blank">
            <img src="<%= theme.img.upyun_logo %>" alt="upyun_league">
        </a>
    </div>
<% } %>

<!-- Theme Material -->
<a href="https://github.com/viosey/hexo-theme-material"  class="sidebar-footer-text-a" target="_blank">
	<div class="sidebar-text mdl-button mdl-js-button mdl-js-ripple-effect sidebar-footer-text-div" data-upgraded=",MaterialButton,MaterialRipple">
		<%= __('misc.theme') %> - Material
		<span class="sidebar-badge badge-circle">i</span>
	</div>
</a>
