<a href="mailto:hiviosey@gmail.com" class="sidebar-footer-text-a">
    <div class="sidebar-text mdl-button mdl-js-button mdl-js-ripple-effect sidebar-footer-text-div" data-upgraded=",MaterialButton,MaterialRipple">
         <%= __('sidebar.help') %>
                    <span class="mdl-button__ripple-container"><span class="mdl-ripple"></span></span></div>
</a>
<a href="https://github.com/viosey/hexo-theme-material/issues" target="_blank" class="sidebar-footer-text-a">
    <div class="sidebar-text mdl-button mdl-js-button mdl-js-ripple-effect sidebar-footer-text-div" data-upgraded=",MaterialButton,MaterialRipple">
         <%= __('sidebar.feedback') %>
                    <span class="mdl-button__ripple-container"><span class="mdl-ripple"></span></span></div>
</a>
<a href="https://blog.viosey.com/index.php/Material.html" target="_blank" class="sidebar-footer-text-a">
    <div class="sidebar-text mdl-button mdl-js-button mdl-js-ripple-effect sidebar-footer-text-div" data-upgraded=",MaterialButton,MaterialRipple">
         <%= __('sidebar.about_theme') %>
        <span class="mdl-button__ripple-container"><span class="mdl-ripple"></span></span></div>
</a>