<!-- Overlay For Active Sidebar -->
<div class="sidebar-overlay"></div>

<!-- Material sidebar -->
<aside id="sidebar" class="sidebar sidebar-colored sidebar-fixed-left" role="navigation">
    <div id="sidebar-main">
        <!-- Sidebar Header -->
        <%- partial('_partial/sidebar-header') %>

        <!-- Sidebar Navigation  -->
        <%- partial('_partial/sidebar-navigation') %>

        <!-- Sidebar Footer -->
        <%- partial('_partial/sidebar-footer') %>
    </div>

    <!-- Sidebar Image -->
    <%- partial('_partial/sidebar-footer_image') %>
</aside>
