

.filter {
	/* webkit hack */
	display: -webkit-flex;
	-webkit-flex-direction: column;
	-webkit-flex-wrap: nowrap;
	-webkit-justify-content: flex-start;
	-webkit-align-content: center;
	/* end hack */

	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;


	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: flex-start;
	align-content: center;

	position: relative;
	height: 100%;
}

.filter-header {
	/* webkit hack */
	display: -webkit-inline-flex;
	-webkit-flex-direction: row;
	-webkit-flex-wrap: nowrap;
	-webkit-justify-content: center;
	-webkit-align-self: center;
	/* end hack */


	display: inline-flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: center;

	align-self: center;

	width: 310px;

	box-sizing: border-box;

	margin-top: 50px;
	padding-bottom: 12px;

	border-bottom: 2px solid rgba(255,255,255,.1);
}

.filter-element {
	text-transform: uppercase;
	font-size: 10px;
	padding: 0 10px;
	opacity: .6;
	letter-spacing: 3px;
	cursor: pointer;
}

.filter-element.active {
	opacity: 1;
}


.filter-activity {
	align-self: center;
	border: 0;

	height: 2px;
	width: 45px;

	background: #fff;

	position: relative;
	top: -9px;

	left: calc(-320px / 2 + 25px);
}
.filter-joint {
	align-self: center;

	position: relative;
	top: -26px;

	width: 2px;
	height: 100vh;
	height: calc(100% - 50px - 12px - 1em - 25vh - 46px);

	background: rgba(169,169,169,.1);
	border: 0;
}


.pages {
	/* webkit hack */
	display: -webkit-flex;
	/* end hack */

	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;


	display: flex;

	height: 100vh;
	position: absolute;
	top: 0vh;
	left: 0vw;

	z-index: 500;
}
.pages.small {
	cursor: move;
}


.page {
	height: 100vh;
	width: 100vw;
	position: relative;
	overflow-x: hidden;
	overflow-y: auto;


	header:first-of-type {
		//min-height: 100vh;
	}
}
.page.inactive {
	opacity: 0.1;
}





.pages-info {
	/* webkit hack */
	display: -webkit-flex;
	background-color: inherit;
	/* end hack */

	display: flex;

	height: 46px;
	position: absolute;
	bottom: 20%;
	margin-bottom: 20px;
	overflow: hidden;

	z-index: 400;

	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;


	div {
		width: 25vw;

		text-align: center;
		float: left;

		text-transform: uppercase;
		letter-spacing: 3px;

		.title {
			padding-bottom: 5px;

			opacity: 0.1;
			transition: opacity 0.25s ease;
			-moz-transition: opacity 0.25s ease;
			-webkit-transition: opacity 0.25s ease;
		}

		.summary {
			opacity: 0;
			font-size: 0.5em;
			position: relative;
			top: 5px;
			transition: all 0.25s ease;
			-moz-transition: all 0.25s ease;
			-webkit-transition: all 0.25s ease;
		}
	}

	div.active {
		* {
			opacity: 1;
		}
		.summary {
			top: 0px;
		}
	}
}



.legend {
	position: absolute;
	bottom: 10px;
	height: 40px;
	margin-bottom: 20px;
	width: 100%;

	font-size: 0.7em;
	text-align: center;

	/* webkit hack */
	bottom: 0;
	background-color: inherit;
	margin-bottom: 0px;
	padding-bottom: 30px;
	/* end hack */


	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;


	img {
		height: 100%;
		vertical-align: middle;
	}
}
