.page {
	header {
		display: inline-block;
		width: 100%;

		* {
			text-align: center;
		}

		h1 {
			padding: 2em 0 0 0;
			margin: 0.83em 0 0 0;
			font-size: 4em;
			text-transform: uppercase;
			letter-spacing: 5px;
		}

		h2 {
			padding: 0;
			margin: 0.83em 0 2em 0;
			font-size: 1.5em;
			text-transform: uppercase;
			letter-spacing: 3px;
		}

		p {
			font-size: 1.4em;
		}
	}
}
