ul.tagcloud {
  list-style: none;
  padding: 20px;
  width: 100%;
}

ul.tagcloud li {
  display: inline-block;
}

li.tagcloud-item {
  text-transform: uppercase;
  font-size: 10px;
  padding: 0 10px;
  opacity: .2;
  letter-spacing: 3px;
  cursor: pointer;
}

li.tagcloud-item.active {
  opacity: 0.6
}

li.tagcloud-item-1 {
  font-size: 1.4em;
}

li.tagcloud-item-2 {
  font-size: 1.2em;
}

li.tagcloud-item-3 {
  font-size: 1em;
}

li.tagcloud-item-4 {
  font-size: 0.8em;
}
