#blog {
  text-align:left;
  border:0;
  margin:0;
}
#blog h1 {
  background:none;
  font-size:33px;
  line-height:30px;
  margin:0;
  padding:0;
  font-weight: 300;
  text-transform:none;
}
#blog div.left {
  padding-right:50px;
}
#blog .item {
  display:block;
  margin-bottom:60px;
  padding-bottom:80px;
  background:url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAA6wAAAAJCAYAAAA2AqGEAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAA2ZpVFh0WE1MOmNvbS5hZG9iZS54bXAAAAAAADw/eHBhY2tldCBiZWdpbj0i77u/IiBpZD0iVzVNME1wQ2VoaUh6cmVTek5UY3prYzlkIj8+IDx4OnhtcG1ldGEgeG1sbnM6eD0iYWRvYmU6bnM6bWV0YS8iIHg6eG1wdGs9IkFkb2JlIFhNUCBDb3JlIDUuMy1jMDExIDY2LjE0NTY2MSwgMjAxMi8wMi8wNi0xNDo1NjoyNyAgICAgICAgIj4gPHJkZjpSREYgeG1sbnM6cmRmPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5LzAyLzIyLXJkZi1zeW50YXgtbnMjIj4gPHJkZjpEZXNjcmlwdGlvbiByZGY6YWJvdXQ9IiIgeG1sbnM6eG1wTU09Imh0dHA6Ly9ucy5hZG9iZS5jb20veGFwLzEuMC9tbS8iIHhtbG5zOnN0UmVmPSJodHRwOi8vbnMuYWRvYmUuY29tL3hhcC8xLjAvc1R5cGUvUmVzb3VyY2VSZWYjIiB4bWxuczp4bXA9Imh0dHA6Ly9ucy5hZG9iZS5jb20veGFwLzEuMC8iIHhtcE1NOk9yaWdpbmFsRG9jdW1lbnRJRD0ieG1wLmRpZDowMTgwMTE3NDA3MjA2ODExQTY2N0ZDRDJCRDMxRDAyRiIgeG1wTU06RG9jdW1lbnRJRD0ieG1wLmRpZDoyRUFBNTQwNEIyREMxMUUyODczMEQzOTA3QTgwOUQ1MyIgeG1wTU06SW5zdGFuY2VJRD0ieG1wLmlpZDoyRUFBNTQwM0IyREMxMUUyODczMEQzOTA3QTgwOUQ1MyIgeG1wOkNyZWF0b3JUb29sPSJBZG9iZSBQaG90b3Nob3AgQ1M1IE1hY2ludG9zaCI+IDx4bXBNTTpEZXJpdmVkRnJvbSBzdFJlZjppbnN0YW5jZUlEPSJ4bXAuaWlkOjAyODAxMTc0MDcyMDY4MTE4NzFGOUNBMUUzMkNFRDk4IiBzdFJlZjpkb2N1bWVudElEPSJ4bXAuZGlkOjAxODAxMTc0MDcyMDY4MTFBNjY3RkNEMkJEMzFEMDJGIi8+IDwvcmRmOkRlc2NyaXB0aW9uPiA8L3JkZjpSREY+IDwveDp4bXBtZXRhPiA8P3hwYWNrZXQgZW5kPSJyIj8+We2AvgAAAmJJREFUeNrsnVmO4yAQQMHODfI79z9azx0i4RrshqjCgJNuL2D7PckCUyt4ozofbf9+ff0xxljzjS0dj8ejG9uRRNYVbLqkPxp3Bdl/bYgz9Z1znT4vtN3MuBWRPqM3Hr3yHcf7aD8Mw4uvzByiXzvqBnlfyiPq+3xystG+936sOi/N0QYf2bkr/zZzfU2Qv1zzeG3H+JnrbIJfW/KrZC9+w7gp5ZL0TUnH+0llRs1H25swZuYoyX8yPhfjp/6fcvMh8rHm25hL9de2X8sHAFyP78/XcXwv9bk4p1/a2x1z/u0cP7XbIp93OnPyJbYf2knaBpkkMi1PbcbvdNRJ7aVgn5XPyLT/wbfToeLGsanvdZwaG5SOi31vOp13XRf76eFCPJeOhfbpQ8XI+Utz0fJJP5er13nxG/u5XL0Pl6yDXh89f20vKtbU3m43l6z3Uy/Yycx5KjO6H+VJa3Lnvv6Yzu/3e3ofmrXfvNt9JfaLbXe23dJmTb01dGrL3+nUjr/0HrQNPEM13wEAAHsiF/crDfmRA9hKBb0avmr5q30/yMmf0yp5xB8v9t5ctraZbbVgr1E42AZj2AZ0t/gDwRb3nz3hM0vxCwBH3qC1mqecMJ406nPP4udoRRqF4bneaZvkWKtgPduG9SwFf4uFe2u/9h3l10eeGQCA8xe7bHaPn4tc2Ode6yzc18fO+SgF61U3xPbCuVhicf8BAFAssxbM4fBrKFwf5kbBykaf9WBuAAAAQKHCGrFm51tUClagiAMAAAAACjJoumDlX0cAAAAAAABAi1CwAgAAAAAAQJP8E2AA88qTvWwXIOkAAAAASUVORK5CYII=') no-repeat bottom center;
}
#blog .item-title {
  margin-bottom:30px;
  display:block;
}
#blog .item-title .label {
  font-size:10px;
  text-transform:uppercase;
  font-weight: 400;
}
#blog .item h2 {
  margin:0;
}
#blog form input[type="text"], #blog form input[type="password"], #blog form input[type="email"], #blog form input[type="phone"], #blog form textarea {
  width:100%;
}
#blog .widget small {
  color:#999;
  display:block;
  font-size:11px;
}
#blog .widget {
  margin-bottom:70px;
}
#blog .widget h3 {
  margin-bottom:20px;
}
#blog .widget ul {
  list-style:none;
  margin:0;
  padding:0 0 0 20px;
}
#blog .widget ul li a i {
  padding-right:8px;
}
#blog .widget ul li {
  margin:10px 0;
}
#blog .btn {
  margin:0;
}
#quick-blog .quick-item .btn, #blog .item .btn, #blog .item .btn:hover {
  border:#ccc 1px solid !important;
}
/* onepage home */
 #quick-blog div.quick-hover {
  -webkit-transition: all 300ms !important;
  -moz-transition: all 300ms !important;
  -o-transition: all 300ms !important;
  transition: all 300ms !important;
}
#quick-blog .quick-item {
  background:#fff;
  padding:20px;
  margin:15px 0;
}
#quick-blog .quick-item:hover {
  box-shadow:#eee 0 0 15px;
}
#quick-blog .media-preview {
  display:block;
  margin:-20px -20px 20px -20px;
  height:200px;
  overflow:hidden;
}
#quick-blog .quick-item .btn {
  margin-top:0;
}
.fsize13 {
  font-size: 13px !important;
  line-height: 20px !important;
}
.fsize16 {
  font-size: 16px !important;
  line-height: 20px !important;
}
.socials {
  float: right;
  margin-top: -20px;
}
.container a.label, span.label {
  font-weight: 400;
}
/** Responsive
 **************************************************************** **/
 @media only screen and (max-width: 768px) {
  #blog .left {
    display:block;
    padding-right:16px !important;
    margin-bottom:100px;
  }
}


.styleColor, ul.bstrap-tabs li.active a, ul.bstrap-tabs li.active a i, #portfolio div.item a:hover i.fa, section.util-row h1, .pagination>li>a, .pagination>li>span, .pagination>li>a:hover, a {
  color:#7E8344;
}
a:hover {
  color:#999e52;
}
.plusNav {
  background:#7E8344;
}
.plusNav:hover {
  color:#fff;
  box-shadow: 0 0 0 2px rgba(255, 255, 255, 0.1), 0 0 10px 10px #7E8344, 0 0 0 10px rgba(255, 255, 255, 0.5);
}
