/** ************************************* **
	@Author			Dorin Grigoras
	@Website		www.stepofweb.com
	@Last Update	9:10 AM Saturday, January 11, 2014

	TABLE CONTENTS
	---------------------------
		01. Placeholder
		02. Selection
		03. JS Animation
		04. Social Icons
		05. Commons
		06. Bootstrap Rewrite
		07. Pure CSS Animations
	---------------------------

 ** ************************************* **/

/**	01. Placeholder
*************************************************** **/
 :-moz-placeholder {
  /* Mozilla Firefox 4 to 18 */
  color: #999;
}
::-moz-placeholder {
  /* Mozilla Firefox 19+ */
  color: #999;
}
:-ms-input-placeholder {
  /* Internet Explorer 10+ */
  color: #999;
}
/**	02. Selection
*************************************************** **/
 ::-moz-selection {
  color:#000;
  background:#ccc;
  text-shadow:none;
}
/**	03. JS Animation
*************************************************** **/
 .animate_fade_in {
  opacity: 0;
  right: 0px;
  position: relative;
  padding-left: 0px;
}
/**	04. Social Icons
*************************************************** **/
 a.social {
  display:inline-block;
  width:36px;
  height:36px;
  line-height:38px;
  font-size:20px;
  text-align:center;
  background:rgba(0, 0, 0, 0.3);
  color:#fff;
  margin:10px 1px;
}
a.social.fa-twitter:hover {
  background:#41b7d8!important;
  color:#fff!important;
}
a.social.fa-facebook:hover {
  background:#3b5997!important;
  color:#fff!important;
}
a.social.fa-google-plus:hover {
  background:#d64937!important;
  color:#fff!important;
}
a.social.fa-linkedin:hover {
  background:#0073b2!important;
  color:#fff!important;
}
a.social.fa-vimeo-square:hover {
  background:#388fc5!important;
  color:#fff!important;
}
a.social.fa-youtube-square:hover {
  background:#A40F09!important;
  color:#fff!important;
}
a.social.fa-flickr:hover {
  background:#ff0084!important;
  color:#fff!important;
}
a.social.fa-pinterest:hover {
  background:#cb2027!important;
  color:#fff!important;
}
a.social.fa-skype:hover {
  background:#00aff0!important;
  color:#fff!important;
}
a.social.fa-rss:hover {
  background:#e0812a!important;
  color:#fff!important;
}
a.social.default:hover {
  background:#37353A!important;
  color:#fff!important;
}
a.social.rounded {
  width:35px;
  height:35px;
  line-height:37px;
}
/** 05. Commons
 **************************************************************** **/
 .nomargin {
  margin:0 !important;
}
/* image raster */
 .overlay {
  background:rgba(0, 0, 0, 0.5);
  position:absolute;
  left:0;
  right:0;
  top:0;
  bottom:0;
  -webkit-transition: all 1s;
  -moz-transition: all 1s;
  -o-transition: all 1s;
  transition: all 1s;
}
/* image rounded */
 .rounded {
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
}
/** 06. Bootstrap Rewrite
 **************************************************************** **/
 .btn, .alert {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
}
.btn {
  font-family:'Open Sans';
  font-size:16px;
  font-weight:600;
  line-height:32px;
  text-transform:uppercase;
  font-family:'open Sans';
  border:0;
}
.btn.btn-xs {
  font-size:11px;
  line-height:20px;
  border:#ddd 1px solid;
}
pre, .panel-group .panel,
/* accordion */
 .panel-heading,
/* accordion */
 .nav-tabs>li>a {
  /* tabs */
  -webkit-border-radius:0;
  -moz-border-radius:0;
  border-radius:0;
}
/* form elements */
 input:focus, textarea:focus, select:focus {
  border:#999 1px solid !important;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(153, 153, 153, .6) !important;
  -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(153, 153, 153, .6) !important;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(153, 153, 153, .6) !important;
}
input[type="text"], input[type="password"], input[type="email"], input[type="phone"], textarea, textarea:focus, select, select:focus {
  border:#ddd 1px solid;
  margin:0 !important;
  padding:16px;
  font-size:16px;
  box-shadow:none !important;
  background:#fff;
  -webkit-border-radius:5px;
  -moz-border-radius:5px;
  border-radius:5px;
}
a.btn {
  transition:none !important;
}
a.btn i {
  padding-right:10px;
}
/** 07. Pure CSS Animations

	EXAMPLE USAGE

    -webkit-animation: moveFromBottom 500ms ease;
    -moz-animation: moveFromBottom 500ms ease;
    -ms-animation: moveFromBottom 500ms ease;
 **************************************************************** **/
 @-webkit-keyframes moveFromTop {
  from {
    -webkit-transform: translateY(-300%);
  }
  to {
    -webkit-transform: translateY(0%);
  }
}
@-moz-keyframes moveFromTop {
  from {
    -moz-transform: translateY(-300%);
  }
  to {
    -moz-transform: translateY(0%);
  }
}
@-ms-keyframes moveFromTop {
  from {
    -ms-transform: translateY(-300%);
  }
  to {
    -ms-transform: translateY(0%);
  }
}
@-webkit-keyframes moveFromBottom {
  from {
    -webkit-transform: translateY(200%);
  }
  to {
    -webkit-transform: translateY(0%);
  }
}
@-moz-keyframes moveFromBottom {
  from {
    -moz-transform: translateY(200%);
  }
  to {
    -moz-transform: translateY(0%);
  }
}
@-ms-keyframes moveFromBottom {
  from {
    -ms-transform: translateY(200%);
  }
  to {
    -ms-transform: translateY(0%);
  }
}
@-webkit-keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    -webkit-transform: translateY(0);
  }
  40% {
    -webkit-transform: translateY(-30px);
  }
  60% {
    -webkit-transform: translateY(-15px);
  }
}
@-moz-keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    -moz-transform: translateY(0);
  }
  40% {
    -moz-transform: translateY(-30px);
  }
  60% {
    -moz-transform: translateY(-15px);
  }
}
@-o-keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    -o-transform: translateY(0);
  }
  40% {
    -o-transform: translateY(-30px);
  }
  60% {
    -o-transform: translateY(-15px);
  }
}
@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-30px);
  }
  60% {
    transform: translateY(-15px);
  }
}
@-webkit-keyframes bounceIn {
  0% {
    opacity: 0;
    -webkit-transform: scale(.3);
  }
  50% {
    opacity: 1;
    -webkit-transform: scale(1.05);
  }
  70% {
    -webkit-transform: scale(.9);
  }
  100% {
    -webkit-transform: scale(1);
  }
}
@-moz-keyframes bounceIn {
  0% {
    opacity: 0;
    -moz-transform: scale(.3);
  }
  50% {
    opacity: 1;
    -moz-transform: scale(1.05);
  }
  70% {
    -moz-transform: scale(.9);
  }
  100% {
    -moz-transform: scale(1);
  }
}
@-o-keyframes bounceIn {
  0% {
    opacity: 0;
    -o-transform: scale(.3);
  }
  50% {
    opacity: 1;
    -o-transform: scale(1.05);
  }
  70% {
    -o-transform: scale(.9);
  }
  100% {
    -o-transform: scale(1);
  }
}
@keyframes bounceIn {
  0% {
    opacity: 0;
    transform: scale(.3);
  }
  50% {
    opacity: 1;
    transform: scale(1.05);
  }
  70% {
    transform: scale(.9);
  }
  100% {
    transform: scale(1);
  }
}
