/* Styles for SuperSlides */
#slides {
	position: relative;
}

#slides .slides-container {
	margin: 0;
}

#slides .scrollable {
	*zoom: 1;
	position: relative;
	top: 0;
	left: 0;
	overflow-y: auto;
	-webkit-overflow-scrolling: touch;
	height: 100%;
}

#slides .scrollable:after {
	content: "";
	display: table;
	clear: both;
}

/* SuperSlides arrow controls */
.slides-navigation a {
	position: absolute;
	top: 50%;
	margin-top: -20px;
	outline: 0;
	width: 40px;
	height: 40px;
	line-height: 40px;
	/*text-indent: -9999px;*/
	z-index: 99;
	zoom: 1;
	text-align: center;
}

.slides-navigation a.prev,
.slides-navigation a.next {
	color: #ffffff;
	font-size: 42px;
}

.slides-navigation a.prev:hover,
.slides-navigation a.next:hover {
	color: #ffffff;
	font-size: 56px;
}

.slides-navigation a.prev {
	left: 10px;
}

.slides-navigation a.prev:after {
	font-family: 'FontAwesome';
	content: '\f104';
}

.slides-navigation a.next {
	right: 10px;
}

.slides-navigation a.next:after {
	font-family: 'FontAwesome';
	content: '\f105';
}

/* SuperSlides pagination indicators */
.slides-pagination {
	position: absolute;
	z-index: 20;
	bottom: 25px;
	text-align: center;
	width: 100%;
}

.slides-pagination a {
	background: #ffffff;
	width: 12px;
	height: 12px;
	margin: 4px;
	display: inline-block;
	-webkit-border-radius: 50%;
			border-radius: 50%;
	zoom: 1;
	overflow: hidden;
	text-indent: -100px;
}

.slides-pagination a:hover,
.slides-pagination a.current {
	background: #7E8344;
}

/* Fullscreen background for SuperSlides */
.slides-fullscreen-img {
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
	width: 100%;
	height: 100%;
}
