{% macro render_tag(tag) -%}
  <a href="{{ SITEURL }}/{{ tag.url }}" rel="tooltip" class="label label-default light" data-placement="right" data-original-title="{{ tag.articles }} article{{ 's' if tag.articles > 1 else '' }} with this tag"><i class="fa fa-tags"></i> {{ tag.name }}</a>
{%- endmacro %}

{% macro render_link_icon(link, label) -%}
  {% set icon = [] %}
  {% set protocol = link.split(':', 1)[0] %}
  {% if protocol == 'mailto' %}
    {% if icon.append('envelope') %}{% endif %}
  {% elif protocol.startswith('http') %}
    {% set domain = link.split('%s://' % protocol, 1)[1].split('/', 1)[0] %}
    {% set SITE_ICONS = {
          'apple': ['apple.com']
        
        
        , 'youtube': ['youtube.com']
        , 'dropbox': ['dropbox.com']
        , 'facebook': ['facebook.com']
        , 'file-text': ['docs.google.com']
        , 'bitbucket': ['bitbucket.org', 'bitbucket.com']
        , 'linkedin-sign': ['linkedin.com']
        
        }
    %}
    {% for (site_icon, site_domains) in SITE_ICONS.items() %}
      {% for site_domain in site_domains %}
        {% if domain.startswith(site_domain) %}
          {% if icon.append(site_icon) %}{% endif %}
        {% endif %}
      {% endfor %}
    {% endfor %}
  {% endif %}
  <a href="{{ link }}" {% if icon %} class="{{ 'icon-%s' % icon[0] }}" {% endif %}>
    {% if not icon and domain %}
      <img src="http://g.etfv.co/http://{{ domain }}?defaulticon=lightpng" width="16" height="16" class="icon" alt="{{ domain }} icon"/>
    {% endif %}
    {{ label }}
  </a>
{%- endmacro %}
