@import 'includes/layout';
@import 'includes/burger';
@import 'includes/tagcloud';

@import 'includes/ms-style';
@import 'includes/ms-nav';

@import 'includes/blog-container';

body {
	overflow: hidden;
}

.scrollbar-measure {
	width: 100px;
	height: 100px;
	overflow: scroll;
	position: absolute;
	top: -9999px;
}
