<div id="wildfire-comment">
    <%- partial('_widget/comment/' + theme.comment.use + '/main') %>
</div>
<style type="text/css">
    #wildfire-comment {
        padding: 0px 12px;
    }

    .wildfire_thread a {
        border-bottom: none;
    }
</style>
