<!doctype html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="chrome=1" />
        <title>{{ page.title }}</title>
        
        <link rel="stylesheet" href="/assets/stylesheets/styles.css" />
        <link rel="stylesheet" href="/assets/stylesheets/pygment_trac.css" />
        <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
        
        <script src="/assets/javascripts/jquery-2.0.3.min.js"></script>

        <!--[if lt IE 9]>
        <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->
    </head>
    <body>
        <div class="wrapper">
            <header>
                <h1>iocast <a href="/"><small>iocast.github.io</small></a></h1>
                
                <p class="view"><a href="/projects.html">Projects <small>by iocast</small></a></p>
                <p class="view"><a href="/posts.html">Blog</a> <a href="/atom.xml"><small>atom feed</small></a></p>
                
                {% if page.repository_url %}
                <h3>Project Info</h3>
                <ul>
                    {% if page.zip_url %}
                    <li><a href="{{ page.zip_url }}">Download <strong>ZIP File</strong></a></li>
                    {% endif %}
                    {% if page.tar_url %}
                    <li><a href="{{ page.tar_url }}">Download <strong>TAR Ball</strong></a></li>
                    {% endif %}
                    {% if page.gem_url %}
                    <li><a href="{{ page.gem_url }}">Download <strong>Rubygem</strong></a></li>
                    {% endif %}
                    {% if page.issue_url %}
                    <li><a href="{{ page.issue_url }}">Report<strong>An Issue</strong></a></li>
                    {% endif %}
                    {% if page.repository_url %}
                    <li><a href="{{ page.repository_url }}">Fork On <strong>GitHub</strong></a></li>
                    {% endif %}
                </ul>
                {% endif %}
                
                <h3>Find me on ...</h3>
                <p class"view"><a href="http://github.com/iocast">GitHub</a><br/>
                <a href="http://bitbucket.org/iocast">BitBucket</a><br/>
                <a href="http://twitter.com/MichelOtt2">Twitter</a><br/>
                <a href="http://osrc.dfm.io/iocast">Open Source Report Card</a><br/></p>
                
                <!--
                <h3>Miscellaneous</h3>
                <p class="view"><a href="/bibliography.html">Bibliography</a></p>
                 -->
                
            </header>
            <section>
                {{ content }}
            </section>
            <footer>
                <p><small>Hosted on GitHub &mdash; Theme by <a href="https://github.com/orderedlist">orderedlist</a></small></p>
            </footer>
        </div>
        <script src="/assets/javascripts/scale.fix.js"></script>
    </body>
</html>