		<div class="container">

			<menu>
				<a class="hamburger-icon" href="#" title="Menu">
					<span class="line line-1"></span>
					<span class="line line-2"></span>
					<span class="line line-3"></span>
				</a>
			</menu>

			<div class="filter" role="filter">
				<aside class="filter-header" role="filter">
					<span class="filter-element active" data-filter="all">All</span>
					<span class="filter-element" data-filter="custom-elements">Custom Elements</span>
					<span class="filter-element" data-filter="web-tools">Web Tools</span>
				</aside>
				<hr class="filter-activity">
				<hr class="filter-joint">
			</div>


			<main role="main" class="pages" style="width: 500vw;">
				<article data-id="home" class="page home" data-tags="">
					<header>
						<h1>home</h1>
						<div>
							<!--
								for the home screen
								http://codepen.io/pedox/pen/DimhI
							-->
						</div>
					</header>
					<section>

					</section>
				</article>

				<%- partial('pages/blog') %>



				<article data-id="projects" class="page projects" data-tags="custom-elements">
					<header>
						<h1>projects</h1>
						<p>implements a scrollable list with sticky headers based on HTML5 web component technology.</p>

						<div></div>

					</header>
					<section />
				</article>



				<article data-id="semantic-web-library" class="page semantic-web-library" data-tags="custom-elements">
					<header>
						<h1>semantic web library</h1>
						<p>implements a scrollable list with sticky headers based on HTML5 web component technology.</p>

						<div></div>

					</header>
					<section />
				</article>



				<article data-id="cheat-sheets" class="page cheatsheets" data-tags="custom-elements">
					<header>
						<h1>cheat sheets</h1>
						<p>implements a scrollable list with sticky headers based on HTML5 web component technology.</p>

						<div></div>

					</header>
					<section />
				</article>


			</main>

			<div role="pages-info" class="pages-info" style="width: 500vw;">
				<div>
					<div class="title">00. home</div>
					<div class="summary"></div>
				</div>
				<div>
					<div class="title">01. blog</div>
					<div class="summary">custom elements, web tools</div>
				</div>
				<div>
					<div class="title">02. projects</div>
					<div class="summary">library, custom elements, web tools</div>
				</div>
				<div>
					<div class="title">03. semantic web library</div>
					<div class="summary">library, custom elements, web tools</div>
				</div>
				<div>
					<div class="title">04. cheat sheets</div>
					<div class="summary"></div>
				</div>
			</div>

			<div role="legend" class="legend">
				<img src="img/arrow-keys.png"> use your keyboard OR
				<img src="img/swipe.png"> swipe to navigate through the pages
			</div>

		</div>
